.navbar.navbar-inverse.navbar-fixed-top.sh-top-headernav.responsivemenu {
display: none;
}
.color.destopmenu{ display: block;}
@media screen and (max-width: 1180px) {

    label.sh-label {
    font-size: 12px;}
}
@media screen and (max-width: 991px) {
ul.nav.navbar-right.top-nav.sh-top-navber span.sh-icon{ display: none; }
#cssmenu > ul > li > a{width: 31px;
    height: 31px;    padding: 4px 3px;}
    .col-sm-1.logo img {
    width: 100%;
}
.nav.navbar-right.top-nav.sh-top-navber li {
    margin: 4px 1px;
}
.nav.navbar-right.top-nav.sh-top-navber li a{
	    font-size: 9px;
     width: 100%;
}
label.sh-label {
    font-size: 10px;}

    .all-contant-button ul li .sh-input {
    width: 100%;    font-size: 11px;
    padding: 0 10px;     margin: 4px 0;}
    .all-contant-button p {
    font-size: 10px;}
/*    label.sh-label {
    font-size: 12px;
}*/
.modal.right .modal-dialog
{ width: 100%; }
.border-styletwo {
    width: 97%;
    margin: 35px auto 7px auto;
}

}

@media screen and (max-width: 767px) {
    .border-styletwo.width4 {
    display: inline-block;
    
}
.col-sm-1.user-line {
    text-align: center;
    display: none;
}
.user-pf-container {
width: 100%;
    float: left;}
    .col-sm-8.user-silder {
    width: 100%;
    float: left;
    margin: 65px 0;
}
.user-profile {
    width: 50%;}
    a.next {
    right: 0;
}
a.previous {
    left: 7px;
}
.onoffswitch-inner:after{padding-right: 9px;}
.onoffswitch-inner:before{    padding-left: 11px;}
.onofftwoswitch-inner:after{padding-right: 9px;}
.onofftwoswitch-inner:before{    padding-left: 11px;}

.list-menu-button {
 
    padding: 0;
}


    .col-sm-6.form-group.row.pull-right{ float: left !important; width: 100%; }

    .col-sm-6.form-group.row {
    width: 100%;
    float: left !important;
}

    .login-footer {
    width: 100%;}
    .login-contant {
    width: 100%;font-size: 10px;}

    .footer-p p {
    padding: 0;
    margin: 0;
    text-align: center;
}
	.navbar.navbar-inverse.navbar-fixed-top.sh-top-headernav.responsivemenu {
display:block;
position: relative;
}
.color.destopmenu{ display: none;}
.pd {
margin: 0;
padding: 0 15px;
}
.datepicker {
    width: 95%;}
    .allcontant-first{    margin-top: 9px;}
    label.sh-label {
    font-size: 13px;
    margin: 10px 0 10px 0;
}
.pdtwo {
    padding: 0 15px;
}
.col-sm-1.line.pd {
    display: none;
}
.border-style {
    text-align: left;
 margin: 0 auto 10px auto;
}
.all-contant-button ul,.all-contant-button {
    text-align: center;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 17px;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    border-bottom: 1px solid #fff;
}
.side-nav>li ul li:last-child a{ border-bottom: none; }
.modal-content.sh-modalcontant{ text-align: left;width: 100%; }
.modal-content.sh-modalcontant .datepicker {
    float: left;
    width: 90%;
}
.sh-modal-body{ text-align: left; }
.searchbtn {
    float: none;
    text-align: center;}
    .body-contant {
    border-top: none;}
    span.input-group-addon.one {
    right: 9px;
    top: 0;
}
.input-group-addon{    right: 13px;}
.heading-two h3{ z-index: 1; }

ul.landingulone li{    width: 28%;}
}
@media screen and (max-width: 480px) {

    ul.landingulone li{    width: 48%;}

}